@media screen and (min-width: 1200px) {
  .container {
    max-width: 1160px;
  }

  .portfolio {
    padding: 96px 0 120px 0;
  }

  .list-btn {
    margin-bottom: 72px;
  }

  .image-list {
    row-gap: 48px;
    column-gap: 24px;
  }

  .image-item {
    width: calc((100% - 48px) / 3);
  }

  .feature-subtitle {
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .section-text {
    font-weight: 400;
  }

  .feature {
    padding: 120px 0;
  }
  .feature-list {
    gap: 24px;
  }
  .list-item {
    width: calc((100% - 72px) / 4);
  }

  .team {
    padding: 120px 0;
  }

  .container-small {
    width: 1128px;
  }

  .customers {
    padding: 120px 0;
  }

  .logo-list {
    gap: 24px;
  }

  .footer {
    padding: 100px 0;
  }

  .footer-link {
    margin-left: 120px;
  }

  .footer-form {
    margin-left: 80px;
  }

  .footer-mail {
    width: 265px;
  }
}
