@media screen and (min-width: 1200px) {
  .container {
    max-width: 1160px;
  }

  .hero {
    padding: 188px;

    max-width: 1440px;
    height: 600px;
    margin: auto;
  }

  .hero-title {
    margin: 0 auto 48px;
  }

  .portfolio {
    padding: 96px 0 120px 0;
  }

  .list-btn {
    margin-bottom: 72px;
  }

  .image-list {
    row-gap: 48px;
  }

  .image-item {
    width: calc((100% - 48px) / 3);
  }

  .feature-subtitle {
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .section-text {
    font-weight: 400;
  }

  .feature {
    padding: 120px 0;
  }
  .feature-list {
    gap: 24px;
  }
  .list-item {
    width: calc((100% - 72px) / 4);
  }

  .team {
    padding: 120px 0;
  }

  .customers {
    padding: 120px 0;
  }

  .logo-list {
    gap: 0 24px;
  }

  .footer {
    padding: 100px 0;
  }

  .footer-container {
    padding-left: 16px;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    gap: 0;
  }

  .footer-link {
    margin-left: 120px;
  }

  .footer-form {
    margin-left: 80px;
  }
}
