@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .hero {
    padding-bottom: 108px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/hero-desk2x.jpg);
    }
  }

  .hero-title {
    width: 496px;
    margin: 0 auto 40px;

    font-size: 56px;
    line-height: 1.07;
  }

  .portfolio {
    padding: 64px 0 96px 0;
  }

  .list-btn {
    justify-content: center;
    gap: 24px;
    margin-bottom: 64px;
  }

  .image-list {
    justify-content: space-between;
    row-gap: 72px;
    column-gap: 24px;
  }

  .image-item {
    width: calc((100% - 24px) / 2);

    padding: 0;
    border: 0.5px solid #f4f4fd;
  }

  .feature-list {
    gap: 72px 24px;
  }

  .feature-subtitle {
    text-align: left;
  }

  .list-item {
    width: calc((100% - 24px) / 2);
  }

  .team {
    padding-bottom: 104px;
  }

  .team-list {
    gap: 64px 24px;
  }

  .logo-list {
    gap: 72px 24px;
  }

  .logo-list-item {
    width: 168px;
  }

  .footer-container {
    gap: 72px 24px;
  }

  .footer-logo {
    text-align: left;
  }
  .footer-subtitle {
    text-align: left;
  }

  .form {
    width: 453px;
    flex-direction: row;
  }

  .footer-mail {
    width: 265px;
    margin-right: 24px;
    margin-bottom: 0;
  }
  .btn-subscribe {
    margin-bottom: 0;
  }

  .frame {
    position: absolute;
    top: 50%;
    right: 24px;
    margin-left: 16px;
    transform: translateY(-50%);
    fill: var(--main-bcg-color);
  }
}

@media (max-width: 1199px) {
  .icon {
    display: none;
  }

  .about {
    display: none;
  }
}
